spring.application.name=test-project
spring.datasource.url=jdbc:mariadb://{DB_HOST}:{DB_PORT}/{DB_SCHEMA}
spring.datasource.username={DB_USER}
spring.datasource.password={DB_PASS}
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.data.redis.host={REDIS_HOST}
spring.data.redis.port={REDIS_PORT}
spring.data.redis.password={REDIS_PASS}
spring.data.redis.timeout=2000
spring.jooq.sql-dialect=mariadb
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=${GMAIL_USERNAME}
spring.mail.password=${GMAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
logging.level.org.jooq.tools.LoggerListener=INFO

# 비밀키
jwt.secret={secret-key}

# AT 만료(분)
jwt.access-expiration-minutes={access-expiration-minutes}

# RT 만료(분, 30일)
jwt.refresh-expiration-minutes={refresh-expiration-minutes}

# 쿠키이름
jwt.refresh-token-cookie-name={refresh-token-cookie-name}

# redis 회원가입 인증 코드 TTL, 5분
redis.ttl.signup=300

# redis 비밀번호 찾기 인증 코드 TTL, 5분
redis.ttl.reset-password=600

# 10초 동안 5회 허용
ratelimit.max-requests=5
ratelimit.window-seconds=10
